.App {
  text-align: center;
}
.registration{
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  margin-left:40%;
}
.login{
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  margin-left:40%;
}
